.custom-footer {
  background-color: #1a1a1a;
  color: #fff;
  padding: 30px 10px 5px;
  font-family: 'Segoe UI', sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  padding-bottom: 30px;
  gap: 40px;
}

.footer-column {
  flex: 1;
  min-width: 220px;
}

.footer-title {
  font-size: 1.8rem;
  color: #00bfff;
  margin-bottom: 10px;
}

.footer-description {
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 14px;
}

.footer-social a {
  color: #ccc;
  font-size: 1.2rem;
  margin-right: 12px;
  transition: color 0.3s ease;
}

.footer-social a:hover {
  color: #00bfff;
}

.footer-column h3 {
  font-size: 1.2rem;
  color: #f0f0f0;
  margin-bottom: 12px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-column ul li a:hover {
  color: #00bfff;
}

.footer-bottom {
  text-align:center;
  border-top: 1px solid #444;
  padding-top: 15px;
  font-size: 0.9rem;
  color: #aaa;
}

.footer-column-contact {
  flex: 1;
  min-width: 220px;
}


/* Responsive */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-column {
    margin-bottom: 20px;
  }

  .footer-social {
    justify-content: center;
  }
}