body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f4f4f4;
}

body.dark-mode {
  background-color: #121212;
  color: #fff;
}

body.dark-mode .card {
  background-color: #1e1e1e;
  color: #fff;
  border: 1px solid #333;
}

body.dark-mode input,
body.dark-mode .form-control {
  background-color: #2a2a2a;
  color: #fff;
  border: 1px solid #555;
}

.dark-mode-nav {
  background-color: #1e1e1e;
  color: #fff;
}
